.margin-content {
  margin-top: 0px;
}
.ui-progressbar {
				position: relative;
}
.progress-label {
	position: absolute;
	left: 50%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
.btn-round {
	border-radius: 10%;
}		
.textcenter {
	text-align: center;
}	